.bg{
	fx-background-color:#46d760; /* hijau */
}
.labelTutorial{
	fx-font-size:95;
}
.tombolBuat{
	fx-background-color:#70f449; /* hijau stabilo */
	fx-font-size:36;}

.tombolMuat{
	fx-background-color:#cddd96; /* hijau layu */
	fx-font-size:34;
}
.tombolKeluar{
	fx-background-color:#dd9699; /* merah muda */
	fx-font-size:26;	
}
